*{
  margin: 0;
  box-sizing: border-box;  
}

body{
  background-color:hsl(235, 18%, 26%) ;

}

section{
  display: flex;
  width: 50%;
  background-color:hsl(0, 0%, 100%) ;
  margin: 50px auto;
  
}

img{
  height: 400px;

}

